*{
  clear: both;
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
  background: #000;
  height: 100vh;
}
.shadow{
  position: relative;
height: 250px;
width: 400px;
background: linear-gradient(0deg, #000,#262626);
margin: 200px auto 0;
}
.shadow::before,.shadow::after{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
height: calc(100% + 4px);
width: calc(100% + 4px);
background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000
,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
background-size: 400%;
z-index: -1;
animation: animate 20s linear infinite;
}
.shadow::after{
  filter: blur(20px);
}
@keyframes animate{
  0%,100%{
    background-position: 0 0 ;
  }
  50%{
    background-position: 400% 0 ;
  }
}
.shadowTitle{
  position: absolute;
  top: 0;
  left: 0;
display: flex;  
justify-content: center;
align-items: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
}
.shadowTitle:nth-child(2){
  /* filter: blur(0px); */
  animation: animate2 5s linear infinite ;
}
@keyframes animate2{
0%,100%{
  filter: blur(10px);
}
50%{
  filter: blur(30px);
}
}

.shadowLight{
  height: 50%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  filter: blur(100px);
  animation: animate3 10s linear infinite;
}
@keyframes animate3{
  0%{
    top: 0;
    left: 0;
  }
  25%{
   top: 0;
   left: 50%;
  }
  50%{
    top: 50%;
    left: 50%;
  }
  75%{
    top: 50%;
   left: 0%;
  }
}
