*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#triviaGame{
  display: flex;
  align-items: center;
  justify-content: center;
}
.triviaCards{
  margin: 10px;
  height: 280px;
  width: 200px;
  border: 1px grey solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
  background: rgb(202,79,71);
background: radial-gradient(circle, rgba(202,79,71,1) 12%, rgba(206,84,71,1) 62%, rgba(166,32,70,1) 100%);
  color: white;
  font-weight: 900;
  text-align: center;
}

.triviaCards:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

#question{
  text-align: center;
  margin: 30px;
  font-size: 50px;
}
.triviaImg{
display: flex;
justify-content: center;
}
.triviaImg>img{
  height: 150px;
width: auto;
margin: 10px;
}