*{
  clear: both;
  box-sizing: border-box;
}
body{
margin: 0;
padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.eyeBall{
  position: relative;
  height: 100px;
  width: 100px;
  background: #fff;
border-radius: 5%;
border: 2px solid grey;
}
.eyeRoll{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 15%;
  width: 15%;
  background: black;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid grey;
}
.mouth{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  border: 2px solid grey;
  height: 0;
  background: indianred;
  transition: height 1s;
}
.eyeBall:hover .mouth{
  height: 30px;
}
.eyes{
  display: flex;
  justify-content: space-between;
  width: 60%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-15%);
}
.eyes>div{
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 20%;
}